> Part of a series on auto-updating websites using GitHub Actions and GitHub Pages

# Air Quality Updater: Complete dataset copier

In this section we are going to download the [AQI data of major cities from IQAir](https://www.iqair.com/us/world-air-quality-ranking) and save it as a CSV file.

The URL is `https://www.iqair.com/us/world-air-quality-ranking`

This approach is useful if you are looking to **directly copy a full dataset from the web** and use it to update a page or graphic. The alternate would be saving historical data over time, which I'll cover in another video.

In [9]:
# Normally we'd do this...
import requests
from bs4 import BeautifulSoup

# ...but this time we'll just do this!
import pandas as pd

In [10]:
tables = pd.read_html("https://www.iqair.com/in-en/world-air-quality-ranking")
len(tables)

1

In [11]:
df = tables[0]
df.head()

,Rank,"Major city, country/region","Major city, country/region.1",AQI US,Followers
0,1,NaN,"Lahore, Pakistan",405,351.6K followers
1,2,NaN,"Delhi, India",270,2.7M followers
2,3,NaN,"Dhaka, Bangladesh",193,211.2K followers
3,4,NaN,"Accra, Ghana",182,3.6K followers
4,5,NaN,"Kolkata, India",176,1.4M followers

In [12]:
df.columns

Index(['Rank', 'Major city, country/region', 'Major city, country/region.1',
       'AQI US', 'Followers'],
      dtype='object')

In [13]:
df = df.drop(columns=["Major city, country/region"])

In [14]:
df = df.rename(
    columns={"Major city, country/region.1": "Location", "AQI US": "AQI Level"}
)
df.head()

   Rank           Location  AQI Level         Followers
0     1   Lahore, Pakistan        405  351.6K followers
1     2       Delhi, India        270    2.7M followers
2     3  Dhaka, Bangladesh        193  211.2K followers
3     4       Accra, Ghana        182    3.6K followers
4     5     Kolkata, India        176    1.4M followers

In [15]:
df.to_csv("air-quality.csv", index=False)